body
{    background-color: #082E64;
    
    font-family: cormorand garamond, sans-serif;
}

.contact-container {
    max-width: 700px;
    margin: 50px auto;
    background: #F4F7F9;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.brand-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #0a4d68;
}

.btn-mariria {
    background-color: #0a4d68;
    color: #C89a50;
}

.btn-mariria:hover {
    border: 1px solid #C89A50 ;
    background-color: ;
}
input, textarea {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}