
body{
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    text-align: center;
    padding: 5%;
    color: #082E64;
    background: linear-gradient(45deg, #c89a50, #F4F7F9);
    
}

main{
    max-width: 2000px;
    margin-top:46px;
    
}

.container {
    display: flex;
    flex-direction: column;
    gap: 5%;
    justify-content: center;
    align-items: center;
    
}

.card1 {
    padding: 2%;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    background-color: #F4F7F9;
    flex-basis: 100%;
    
}
.card2 {
    padding: 2%;
    /*border-radius: 10px;
    background-color: #c89a50;*/
    
    flex-basis: 100%;
}

.mark{
    font-weight: bold;
}

@media (min-width: 768px){
    .container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    
    }

    .card1{
        width: 100%;
    }

    .card2{
        width: 100%x;
    }

    .img-fluid{
        max-inline-size: 100%;
        height: auto;
        max-width: 600px;
        
        
    }
}

@media (min-width: 1024px) {
    .card{
        width: 100%;
    }
} 


