body{
    background-color: #F4F7F9;
    color: #082E64;
    font-family: 'Cormorant', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    margin-left: 10%;
    margin-right: 10%;
}

@media (max-width: 768px) {
    
    .text {
        width: 100%;
    }
    .image {
        width: 100%;
    }
}