* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    text-align: center;
    /*padding: 1%;
    color: #082E64;
    background: linear-gradient(45deg, #c89a50, #F4F7F9);*/
    background: linear-gradient(75deg, #082E64,  #86a8e7);
    background-repeat: no-repeat; 
    background-size: cover;    
    
}

main{
    max-width: 2000px;
    margin-top:1%;
    
}

.container {
    display: flex;
    flex-direction: column;
    gap: 5%;
    justify-content: center;
    align-items: center;
    
}

.card1 {
    padding: 1%;
    border-radius: 15px;
    margin: 1%;
/*    border-style: solid;
    border-width: 1px;*/
    background-color: #F4F7F9;
    flex-basis: 100%;
    width: 100%;
    
}
.card2 {
    padding: 1%;
    border-radius: 15px;
    margin: 1%;
    /*background-color: #c89a50;*/
    background: linear-gradient(75deg, #c89a50, #F4F7F9);
    flex-basis: 100%;
    width: 100%;
}

.mark{
    font-weight: bold;
    background-color: transparent;
    color: #082E64;
}

@media (min-width: 768px){
    .container {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    
    }
    /*
    .card1{
        width: 100%;
    }

    .card2{
        width: 100%;
    }*/

    .img-fluid{
        max-inline-size: 100%;
        height: auto;
        max-width: 600px;
        
        
    }
}


