.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: transparent;
}

.container div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

@media (max-width: 600px) {
    .container {
        flex: 100%;
    }
}
@media screen and (max-width: 800px) {
    .container {
    flex: 50%;
    max-width: 50%;
    }
}