@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&family=Montserrat:wght@300;400;600;700&display=swap');

:root {
    --azul-atlantico: #082E64;
    --turquesa-mediterraneo: #3DB8A5;
    --ocre-pescador: #C89A50;
    --blanco-espuma: #F4F7F9;
}



.footer-mariria {
    width: 100%;
    background-color: var(--azul-atlantico);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 15px;
    border-top: 2px solid var(--turquesa-mediterraneo);
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;

    flex-wrap: wrap;
    box-sizing: border-box;
}

footer {
    background-color: #082E64; 
    color: #F4F7F9; 
    text-align: center;
    padding: 60px;
    margin-top: 0px;
}

.social-link {
    color: #3DB8A5; 
    margin: 0 15px;
    font-size: 2rem; 
    transition: 0.3s;
}

.social-link:hover {
    border: 2px solid #C89A50; 
    color: #3DB8A5;
    border-radius: 50%;
    padding: 10px;  
}

.dreamDev{
    margin-top:1px;
    padding-top: 1px;
}

.grid{
    display: grid;
    grid-template-rows: auto;
}

.one{
    grid-row: 1;
}

.two{
    grid-row:2;
}

.three{
    grid-row: 3;
}

@media (min-width: 900px) {

}.main-container {
    grid-template-columns: 1fr;
}
